.container {
    padding: 50px 5vw 95px;
    background-color: #06071D;
    @media (min-width: 600px) and (max-width: 1439px) {
        padding: 50px 0;
    }
    @media (min-width: 1440) {
        padding: 50px 0;
    }
}

.infoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:first-child) {
        margin-top: 70px;
    }
    &:first-child {
        margin-top: 70px;
    }
    .wrapData {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        @media (min-width: 768px) and (max-width: 992px) {
            gap: 0;
        }
        @media (min-width: 1440) {
            gap: 23px;
        }
    }
    .wrapText {
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    .actionBtn {
        display: flex;
        justify-content: center;
        margin: auto;
        gap: 40px;
    }
    //temp
    .listItem {
        width: 100%;
        min-height: 350px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        gap: 20px;
        .active-project-card {
            width: 100%;
            max-width: 433px;
            margin-right: 50px;
            margin-bottom: 59px;
            &:last-child {
                margin-right: 0;
            }
            & .progress {
                min-width: 200px;
            }
            .actions {
                margin-top: 26px;
                width: 100%;
                display: flex;
                justify-content: center;
                &>button:first-child {
                    padding: 11px 10px;
                    margin-right: 14px;
                }
                &>button:last-child {
                    font-weight: 700;
                    padding: 9px 43px;
                }
            }
        }
        .project-card {
            width: 263px;
            &:last-child {
                margin-right: 0;
            }
            & .data {
                margin-top: 16px;
            }
            .action {
                width: 202px;
            }
            .nextTolaunchAction {
                padding: 11px 12px;
                width: 202px;
                font-size: 13px;
                &>span:first-child {
                    font-size: 13px;
                }
            }
        }
    }
    .lastAction {
        margin-top: 50px;
    }
}

.viewAll {
    margin: 15px 0;
    background: linear-gradient(102.92deg, #B347FF 6.55%, #454CF9 47.11%, #0961FE 71.51%, #02ACD3 98.22%);
    border-radius: 40px;
    width: 100%;
    text-align: center;
    padding: 9px;
    color: #fff;
    font-family: 'Montserrat-Medium';
    cursor: pointer;
    margin-top: 44px;
    width: 204px;
    font-weight: 500;
    @media (max-width: 576px) {
        margin-top: 70px;
    }
}

.bigTitle {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
}

.mediumTitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 42px;
    font-family: 'Montserrat-Medium';
}

.normalText {
    font-size: 20px;
}

.footer {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-Regular';
    .kickStartProject {
        font-weight: 600;
        font-size: 32px;
        padding: 56px 0;
        line-height: 45px;
        background: url('./background-footer.png');
        background-size: cover;
        @media (max-width: 576px) {
            padding: 18px;
        }
    }
    .copyRight {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        background: #000;
        font-family: 'Montserrat-Regular';
        line-height: 24px;
        font-weight: 400;
        padding: 41px 0;
    }
}

.centerBtn {
    margin-top: 25px !important;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    span {
        font-family: 'Montserrat-Medium';
        font-weight: 500 !important;
    }
}

@media (max-width: 1280px) {
    .listItem {
        gap: 36px;
        .project-card {
            margin-bottom: 73px;
            margin-right: 0 !important;
        }
        .active-project-card {
            margin-right: 0 !important;
            margin-bottom: 59px;
            & .progress {
                min-width: 200px;
            }
        }
    }
}

@media (max-width: 960px) {
    .listItem {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .bigTitle {
        font-size: 22px;
    }
    .normalText {
        font-size: 14px;
    }
    .actionBtn {
        display: flex;
        justify-content: center;
        margin: auto;
        gap: 16px;
        flex-wrap: wrap;
    }
    .infoArea {
        margin-top: 24px;
    }
    .mediumTitle {
        font-size: 28px;
    }
    .project-card {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }
    .kickStartProject {
        font-size: 24px !important;
        font-family: 'Montserrat-Bold'
    }
}

.listUpcomingItems {
    @extend .listItem;
    flex-direction: row;
    flex-wrap: wrap;
}

.listCard {
    display: flex;
    // flex-wrap: wrap; 
    &>div {
        margin: 0 15px;
    }
    @media (min-width: 375px) and (max-width:599px) {
        &>div {
            margin: 0;
        }
    }
    @media (min-width: 600px) {
        justify-content: center;
        width: calc((100%/1) - 71px) !important;
    }
}

.listCardMobile {
    width: 100%;
    @media (min-width: 768px) and (max-width: 992px) {
        max-width: 94% !important;
    }
    @media (min-width: 993px) and (max-width: 1439px) {
        max-width: 90% !important;
    }
    @media (min-width: 1440px) and (max-width: 1600px) {
        max-width: 100% !important;
    }
    @media (min-width: 1630px) {
        max-width: 85%;
    }
}