PORT=1403

REACT_APP_MESSAGE_INVESTOR_SIGNATURE=VISPX User Signature
REACT_APP_MESSAGE_SIGNATURE=VISPX Admin Signature

REACT_APP_ETH_CHAIN_ID=4
REACT_APP_NETWORK_ETH_NAME=Ethereum
REACT_APP_NETWORK_URL=https://rinkeby.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
REACT_APP_ETHERSCAN_BASE_URL=https://rinkeby.etherscan.io/


#Mint-page
REACT_APP_NETWORK_ID=4
REACT_APP_NETWORK_NAME=Rinkeby
REACT_APP_API_BASE_URL=https://api-xborg-vispx.sotatek.works/api

REACT_APP_PROJECT_IMG=https://nft-vispx.s3.eu-west-2.amazonaws.com/banner_vispx_mint
REACT_APP_PUBLIC_KEY=65524793
REACT_APP_MINT_CONTRACT=0xe86630bF7397C779f10E7Edca9a734A1eb2F8DbE

REACT_APP_START_PRE_SALE_TIME=1654088400
REACT_APP_METAMASK_DEEPLINK=https://metamask.app.link/dapp/xborg-vispx.sotatek.works/mint