.section1 {
    background: url('./background1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    min-height: 550px;

    @media (max-width: 390px) {
        background: url('./background-max-390.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (max-width: 414px) {
        background: url('./background-max-414.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 820px) {
        background: url('./background-iPad.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.buttonItem {
    &:first-child {
        margin-right: 36px;
        @media only screen and(max-width: 600px) {
            margin-bottom: 36px;
            margin-right: 0;
        }
    }
}

@media only screen and(max-width: 600px) and (min-width: 420px) {
    .container{
        padding: 0 100px;
    }
}

@media only screen and (max-width: 390px){
    .textXborg {
        font-size: 70px !important;
    }
}