.container {
    padding: 80px 150px;
    @media only screen and(max-width: 1500px) {
        padding: 50px;
    }

    .back{
        color: #ffffff;
        display: flex;
        align-items: center;
        cursor: pointer;
        &>span{
            margin-left: 10px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.headerComponent {
    width: 100%;
    position: absolute;
    left: 0;
    font-family: 'Montserrat-Medium';
    font-size: 14;
    font-weight: 500;
}
.reigsterBtn {
    margin-bottom: 10px;
    text-align: center;
}

.poolInfo {
    //display: flex;
    margin-bottom: 10px;
    .poolTimeLine {
        width: 50%;
    }
    .PoolSwapInfo {
        width: 50%;
    }
}

.poolInfoTimeLine {
    display: flex;
    margin-bottom: 10px;
    .poolTimeLine {
        width: 50%;
    }
    .PoolSwapInfo {
        width: 50%;
    }
}

@media only screen and(max-width: 1120px) and (min-width: 960px){
    .poolInfoTimeLine {
        flex-direction: column;
        .poolTimeLine {
            width: 100%;
        }
        .PoolSwapInfo {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px){
    .poolInfoTimeLine {
        flex-direction: column;
        .poolTimeLine {
            width: 100%;
        }
        .PoolSwapInfo {
            width: 100%;
        }
    }
}