//////////////////////////////////////
.titleIcon {
  height: 32px;
}
.data {
  margin-top: 16px;
}
.project-card {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  & .data {
    margin-top: 16px;
  }

  .action {
    padding: 8px;
    background-color: #38383d;
    max-width: 296px;
    width: 90%;
    border-radius: 60px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: rgb(30, 34, 34);
    }
  }
}
.row {
  margin-bottom: 64px;
}

.itemTitle{
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  border-bottom:  1.5px solid #8247E5;
}

.itemContainer{
  padding: 10px 72px;
}


.pagination {
  li{
    button{
      color: #fff;
    }
  }
}