.newLandingPage {
    position: relative;
}

.section2 {
    background: url('./bg-banner-home.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}