.newLandingPage {
    position: relative;
}

.section2 {
    background: url('./bg-banner-home-2.svg');
    //background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    @media (max-width: 1280px) {
        background: url('./bg-banner-home-ipad-720.svg');
        //background-position: ;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    @media (max-width: 576px) {
        background: url('./bg-banner-home-mobile-320.svg');
        //background-position: ;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
}